#app {
  min-height: 100vh;
  height: 100%;
  display: block;
  background-color: var(--bg);
  color: var(--text);
}

#hero {
  padding: 0 1em;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

p {
  font: var(--p);
}

button {
  all: unset;
  position: relative;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border: 2px solid var(--border-muted);
}
